body {

    background: url(abstract-watercolor-paint-background-beautiful-blue-green-and-yellow-watercolor-splash-design-colorful-plain-green-tones-watercolor-textures-paper-textured-aquarelle-canvas-for-modern-creative-design-vector.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.faq-section {
    background-color: #f9f9f9;
    padding: 40px;
}

.faq-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.faq-list li {
    margin-bottom: 20px;
}

.faq-question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

.faq-answer {
    display: none;
    font-size: 18px;
}

.faq-answer p {
    margin: 0;
}

.faq-question.active {
    color: #1e90ff;
}

.faq-question.active+.faq-answer {
    display: block;
}

.dropdown {
    position: relative;
    display: inline-block;
}

/* Style for the dropdown button text */
.dropdown button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Style for the dropdown button content */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

/* Style for the dropdown button options */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Style for the dropdown button options on hover */
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown button content when the user clicks on the dropdown button */
.dropdown:hover .dropdown-content {
    display: block;
}